.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;

  &__icon {
    object-fit: contain;
    height: 10rem;
    margin-left: 2rem;
  }

  &__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 1rem;
    height: 3rem;
    border: 0.1rem solid lightgray;
    border-radius: 5rem;

    & input {
      border: none;
      padding: 1rem;
      outline-width: 0;
      width: 25rem;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 8rem;
  }
}
